@import "tailwindcss";

@theme inline {
  --color-background: #0f0f0f;
  --color-primary: #ff0303;
  --color-gray2: #b9b9b9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
