@import "tailwindcss";

@theme inline {
  --color-background: #0f0f0f;
  --color-primary: #ff0303;
  --color-gray2: #b9b9b9;
}

html {
  color: white;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  @apply text-[20px] md:text-[22px] xl:text-[26px];
  cursor: pointer;
}

section {
  padding: 200px 40px;
}

input,
textarea,
select {
  font-size: 16px;
}

/* Tablets */
@media (max-width: 1024px) {
  section {
    padding: 140px 32px;
  }
}

/* Mobile */
@media (max-width: 640px) {
  section {
    padding: 100px 20px;
  }
}

/* Small phones */
@media (max-width: 480px) {
  section {
    padding: 80px 16px;
  }
}
